 .bread{
   background-color: rgba(89, 11, 116, 0.745);
   
 }

 .bread h1{
   color: #fff;
   text-align: center;
   font-size: 1.9rem;
   padding: 25px 0px;

 }

 .bx_shadow
  {
    box-shadow: 1px 1px 7px 1px #cdcdcd;
    padding: 30px;
  }

   .sbx_shadow
  {
    box-shadow: 1px 1px 7px 1px #cdcdcd;
    padding: 15px;
  }

  .AboutUS p {
     text-align: justify;
     line-height: 28px;
  }

  .AboutUS h5 {
    color: rgb(37, 111, 3);
  }

  .AboutUS .sbx_shadow a{
    text-decoration: none;
  }

  iframe {
    width: 100%;
    height: 400px;
    border: none;
  }

  .btn {
  border-radius: 30px;
  padding: 10px 25px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #01280a !important;
  transform: scale(1.05);
}
 .banner{
   
  width: 100%;
  height: 80vh;
 }

 
