header{
    border-bottom: 1px solid gray;
}

.banner {
  background-image:linear-gradient(to bottom , rgba(0, 0, 0, 0.377) , rgba(0, 0, 0, 0.799) ), url("./Restaurant/assets/banner5.webp");
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;

}